braceexpand==0.1.5
einops==0.8.1
fsspec==2023.3.0
ftfy==6.3.1
fvcore==0.1.5.post20221221
huggingface_hub==0.13.3
matplotlib==3.7.1
numpy==1.23.5
omegaconf==2.3.0
pandas==1.5.3
Pillow==9.4.0
regex==2022.7.9
Requests==2.32.5
scikit_learn==1.0.2
timm==0.6.12
torch==2.0.0
torchaudio==2.0.0
torchvision==0.15.0
tqdm==4.65.0
transformers==4.27.4
wandb==0.15.12
webdataset==0.2.43
